<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Add your new message here!</h1>
    <form method="POST" action="/new"> 
        <label for="user">Username: </label>
        <input type ="text" id="user" name="user"><br> 
        <label for="messageText">Type Your Message: </label>
        <input type ="text" id="messageText" name="messageText"><br> 
        <input type="submit" value="Submit">
    </form>
</body>
</html>