<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
</head>
<body>
    <%=title%>
    <div class="all-messages">
        <% for( let i = 0; i < messages.length; i++ ) { %>
            <ul>
                <li><%= messages[i].text %></li>
                <li><%= messages[i].user %></li>
                <li><%= messages[i].added %></li>
            </ul>
        <% } %>
    </div>
</body>
</html>